<!DOCTYPE html>
<html lang="en"
	<head>
		<body background="http://angelbabywearinc.com/wp-content/uploads/2014/10/textures-texture-texture-background-wallpaper-wallpapers-light-background-gradient-light.jpg">
		<title>What's your fortune?</title>
	</head>
<body>
	<center><h1><font color="#3366FF"><font face="arial">Click to unveil your fortune!</font></font></h1></center>
	<center><img src= "http://img2.wikia.nocookie.net/__cb20130524131112/clubpenguin/images/b/bc/Emoticons_Fortune_Cookie_Card_Jitsu_Party_2013.png" width=500 height=500></center>
	
</body>

</html>