<!DOCTYPE html>

<html lang="en">
	<head>
		<body background="http://angelbabywearinc.com/wp-content/uploads/2014/10/textures-texture-texture-background-wallpaper-wallpapers-light-background-gradient-light.jpg">
		<title>What's your fortune?</title>
	</head>

	<body> 
	<nav id="nav">
		<ul>
			<li class="current"><a href="/">Home</a></li>
			<li><a href="">List of Fortunes</a></li>
			<li><a href="#">Creators</a></li>
		</ul>
	</nav>

<h1><center><%=@fortune.random_fortune%></center></h1>
	</body>